body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease;
  height: 100vh;
  width: auto;
  background-image: radial-gradient(circle at bottom, #d96643 50%, #f6bda2 80%);
  background-size: cover;
  background-repeat: no-repeat;

}

.Useful {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center;  
}


@font-face {
  font-family: heading-font;
  src: url(./fonts/Archivo-Black.ttf); 
}

@font-face {
  font-family: subheading-font;
  src: url(./fonts/Poppins-LightItalic.ttf); 

}

@font-face {
  font-family: body-font;
  src: url(./fonts/Poppins-Light.ttf); 

}

.Headline {
  font-family: heading-font;
  font-size: 50px;
  color: #f5e5d7;

}

.Subheading {
  font-family: subheading-font;
  font-size: 30px;
  margin: 0;
  color: #f5e5d7;

}

.Left {
  background-color: rgba(48, 29, 29, 0.5);
  width: 50vw;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 10px;
  margin-bottom: 40px;

}

.Right {
  background-image: url("./photos/todolistGraphic.png");
  background-size: cover;
  background-position: center; 
  height: 40vw;
  width: 40vw;
  
}

.Text {
  display: flex;
  margin-left: 40px;
  width:fit-content;
  flex-direction: column;
  justify-content: left; 

}

.Content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  margin-left: 40px;
  justify-content: left;


}

#Input {
  height: 40px;
  font-size: 20px;
  overflow: hidden;
  width: 40vw;
  background-color: #ffffff;
  border: none;
  box-shadow: none;

}

#Add {
  background-color: #3b79d7;
  font-family: heading-font;
  font-size: 30px;
  color: #f5e5d7;
  appearance: none;
  width: 200px;
  height: fit-content;
  box-shadow: none;
  border: none;
  margin-bottom: 40px;
  border-radius: 7px;


}

#Add:hover, #Delete:hover {
  background-color: #2466c8;

}

.word {
  color: #f5e5d7;
  font-family: body-font;
  font-size: 20px;

}

.tasks {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

}

#Complete {
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: #ffffff;
  color:#3e3736;
  border: none;
  box-shadow: none;

}

#Complete:hover {
  background-color: #e8e2e2;

}

#Delete {
  width: fit-content;
  height: 20px;
  background-color: #3b79d7;
  border-radius: 5px;
  color: #f5e5d7;
  border: none;
  box-shadow: none;

}

#AudioToggle {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 30px;
  color:#3e3736;
  background-color: #ffffff;
  border: none;
  box-shadow: none;
  
}

#AudioToggle:hover {
  background-color: #e8e2e2;

}